@font-face {
  font-family: 'Uncut Sans';
  src: url('../../../public/fonts/Uncut-Sans-Regular.otf');
}
@font-face {
  font-family: 'Uncut Sans Bold';
  src: url('../../../public/fonts/Uncut-Sans-Bold.otf');
}
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap');
