.inner {
  padding-top: var(--size1);
  max-width: var(--container-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 45% 1fr;
  gap: 1vw;

  .heading {
    position: relative;
    margin-bottom: var(--size3);
    text-transform: uppercase;
    font-family: var(--font-italic);
    // mix-blend-mode: exclusion;
    color: var(--secondary);
    z-index: 2;
    grid-column: 1 / span 2;
  }

  .about__title {
    font-size: var(--size3);
    grid-column: 1 / span 2;
    margin-bottom: var(--size3);
    letter-spacing: -0.16rem;
    font-family: var(--font-semi);
    line-height: 1.15;
  }
  .about__description {
    grid-column: 2/3;
    line-height: 1.2;
    font-size: calc(var(--size4) / 1.666667);
    > div:not(:last-child) {
      margin-bottom: var(--size4);
    }
  }
  .about__image {
    overflow: hidden;
    position: relative;
    grid-column: 1/2;
    grid-row-start: 3;
    aspect-ratio: 1/1;
    > img {
      padding: var(--size4);
    }
    // max-height: 66.6667%;
  }
}
