.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

  .text__wrapper {
    height: var(--arrow-width);
    width: max-content;
    // position: relative;
    color: var(--secondary);
    transition: transform var(--transition);
    padding-bottom: var(--size6);
    .text {
      position: absolute;
      padding-bottom: var(--size6);
      padding-right: var(--size6);
      white-space: nowrap;
      transition: clip-path var(--transition);

      &:first-child {
        color: var(--primary-foreground);
      }
      &:nth-child(2) {
        color: var(--secondary);
        clip-path: inset(0% 100% 0% 0%);
      }
    }
  }

  .arrows {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--arrow-width);
    width: var(--arrow-width);
    overflow: hidden;

    .arrow {
      position: absolute;
      will-change: transform;
      transition: transform var(--transition), opacity var(--transition);
      height: 100%;
      top: 0;
      left: 0;
      transform: translate(-90%, 90%) scale(0.2);
      opacity: 0;
    }
  }

  &:hover {
    .arrows .arrow {
      transform: translate(0%, 0%) scale(1);
      opacity: 1;
    }

    .text__wrapper {
      transform: translate(var(--arrow-width), 0%) scale(1);
      .text {
        &:nth-child(2) {
          clip-path: inset(0% 0% 0% 0%);
        }
      }
    }
  }
}
