@font-face {
  font-family: "Alieron Regular";
  src: url("../../public/assets/fonts/Aileron-Regular.otf");
}
@font-face {
  font-family: "Alieron Bold";
  src: url("../../public/assets/fonts/Aileron-Bold.otf");
}
@font-face {
  font-family: "Alieron Thin";
  src: url("../../public/assets/fonts//Aileron-Thin.otf");
}
