@font-face {
  font-family: "Aspekta Thin";
  src: url("../../public/assets/fonts/Aspekta-150.otf");
}

@font-face {
  font-family: "Aspekta Bold";
  src: url("../../public/assets/fonts/Aspekta-750.otf");
}

@font-face {
  font-family: "Overused Grotesk Semi";
  src: url("../../public/assets/fonts/OverusedGrotesk-SemiBold.otf");
}

@font-face {
  font-family: "Overused Grotesk Thin";
  src: url("../../public/assets/fonts/OverusedGrotesk-Light.otf");
}
@font-face {
  font-family: "Monument";
  src: url("../../public/assets/fonts/PPMonumentExtended-Black.otf");
}
@font-face {
  font-family: "Instrument";
  src: url("../../public/assets/fonts/InstrumentSerif-Italic.otf");
}
